/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-set-2015, 0.03.31
    Author     : daniele
*/

#amministra {
    margin: 0px;
    padding: 0px;
    float:left;
    width: 99%;
}

.contenutoAmministrazione {
    float:left;
    width: 95%;
    padding: 0px;
    margin: 10px;
}

#tabellaForm {
    float: left;
}

button {
    margin: 15px 0px 0px 0px;
}

.rigaTabella {
    float: left;
    width: 100%;
}

.colonnaTabellaText{
    float: left;
    width: 80%;
}

.colonnaTabellaLabel {
    float: left;
    height: 1cm;
    width: 20%;
}
/**/
button{
    margin: 0px;
}

.admin {
    text-align: left;
    border-spacing: 0px;
    border: 1px solid #aeb3b6;
    border-collapse: collapse;
    float: left;
}


.admin a, .admin,.admin tbody,.admin tfoot,.admin tr,.admin th,.admin td {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0em;
    font-size: 13px;
    color: #55595c;
}
.admintbody td{
    line-height: 2.5em;
}

.admin caption{
    padding: .4em 0 ;
    font-size: 240%;
    font-style: normal;
    color: #FB7E00;
}

.admin a{
    display: block;
    text-decoration: none;
    color: #FF8E53;
    padding-right: 1.5em;
}

.admin a:hover, .admin a:focus{
    text-decoration: underline;
}

.admin th a{
    color: #FF8E53;
    text-align: right;
}
.admin .odd th a,.admin .odd td a,.admin .odd td{
    color: #666;
    padding-right: 1.0 em;
}

.admin th a:hover, .admin th a:focus,.admin tbody tr:hover th{   
    background-color: #FFCC99;
    color: #fff !important;
}
.admin .odd th,.admin .odd td{
    background-color: #DDDDDD;
}

.admin thead th{
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
}
.admin tfoot{
    border-top: 1px solid #fff;
}
.admin tfoot th,.admin tfoot td{
    color: #fff;
}

.admin tbody th{
    padding-right: 1.0em;
     color: #25c1e2;
     font-style: normal;
     background-color: #fff;
     border-bottom: 1px dotted #aeb3b6;
}

.admin td{
    color: #FF8E1C;
    border-bottom: 1px dotted #aeb3b6;
    padding-right: 0.5em;
    vertical-align: central;
}

.admin tbody tr.odd{
    border-bottom: 1px dotted #aeb3b6;
}

.admin tbody tr:hover td{
    background-color: #FFCC99;
}

.admin tbody tr:hover td,.admin tbody tr:hover th,.admin tbody tr:hover a{
    color: #fff !important;
}


/**/

/**/
