/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-set-2015, 0.03.31
    Author     : daniele
*/

#amministra {
    margin: 0px;
    padding: 0px;
    float:left;
    width: 100%;
}

#Prodotto {
    float:left;
}

#Cliente {
    float:left;
}

#OrdiniConfermati {
    float:left;
}

select {
    width: 250px;
}

#tabellaForm {
    float: left;
}

button {
    margin: 15px 0px 0px 0px;
}

.rigaTabella {
    float: left;
    width: 80%;
}

.colonnaTabellaLabel {
    float: left;
    height: 1cm;
    width: 200px;
}

