/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-set-2015, 0.01.59
    Author     : daniele
*/

div#carrello{
	width:100%;
	float:left;
        border:0px;
        margin:0px;
        border: 0px;
}

#intestazione,#intestazione div,#intestazione span{
        float:left;
}

#intestazione div,#intestazione span{
        height: 50px;
}

#intestazione p{
        text-align: center;
        padding:14px 0px 14px 0px;
        margin:0px;
        font-size: 25px;
}
/**/
#intestazione{
        background: #f93;
	width:935px;
	border:#FF9933 4px solid;
}


#intestazione .foto{
	width:75px;
}

#intestazione .nome{
	width: 400px;
}

#intestazione .quantita{
	width: 175px;
}

#intestazione .prezzo{
	width: 95px;
}

#intestazione .subtotale{
	width: 140px;
}
/**/

.elemento,.elemento div,.elemento span{
    float:left;
    height: 50px;
}

.elemento{
	width:935px;
        font-size: 20px;
        background-color: #FAEF87;
	border:#FF9933/**#DCDCDC/**/ 4px solid;
}

.elemento .foto{
	width:75px;
}

.elemento .nome{
	width: 400px;
}

.elemento .quantita{
	width: 175px;
	//background: pink;
}

.elemento .quantita .n_quantita{
	width: 50%;
        font-size: 20px;
}

.elemento .prezzo{
	width: 95px;
        text-align: right;
}

.elemento .subtotale{
	width: 140px;
        text-align: right;
}

.elemento .cancella{
	width: 50px;
        font-size: 15px;
}

.elemento .cancella_prodotto{
	width: 100%;
        height: 100%;
}
