

div#carrello{
	width:100%;
	float:left;
        border:0px;
        margin:0px;
        border: 0px;
        color:black;
}

#intestazione,#intestazione div,#intestazione span{
        float:left;
}

#intestazione div,#intestazione span{
        height: 50px;
}

#intestazione p{
        text-align: center;
        padding:14px 0px 14px 0px;
        margin:0px;
        font-size: 25px;
}
/**/
#intestazione{
        background: #fd7;
	width:927px;
	border-left: 4px;
	border-bottom: 4px;
	border-right: 4px;
        border-style: solid;
        border-color: #fd7;
}


#intestazione .foto{
    padding-left: 10px;
	width:5px;
}

#intestazione .nome{
	width: 302px;
}

#intestazione .quantita{
	width: 175px;
}

#intestazione .prezzo{
	width: 125px;
}

#intestazione .subtotale{
	width: 150px;
}
/**/

.elemento,.elemento div,.elemento span{
    float:left;
    height: 50px;
}

.elemento{
	width:927px;
        font-size: 15px;/**/
        background-color: #F9F3BB;
	border-left: 4px;
	border-bottom: 4px;
	border-right: 4px;
        border-style: solid;
        border-color: #fd7;
}

.elemento p{
    padding: 5px;
}

.elemento .foto{
	width:75px;
}

.elemento .nome{
	width: 220px;
}

.elemento .quantita{
	width: 175px;
        text-align: right;
	
}

.elemento .quantita .n_quantita{
	width: 50%;
        font-size: 20px;
}

.elemento .prezzo{
	width: 125px;
        text-align: right;
}

.elemento .subtotale{
	width: 150px;
        text-align: right;
}

.elemento .cancella{
	width: 50px;
    font-size: 15px;
    padding-left: 130px;
}

.elemento .cancella_prodotto{
	width: 100%;
        height: 100%;
}

#foot{
        float:right;
        background-color: #FAEF87;
	border-left: 4px;
	border-bottom: 4px;
	border-right: 4px;
        border-style: solid;
        border-color: #fd7;
}

#foot .label,#foot .totale,#foot .vuoto{
        font-size: 20px;
        text-align: right;
        float:left;
}

#foot .label{
	width: 95px;
        text-align: right;
}

#foot .totale{
	width: 140px;
        text-align: right;
}

#foot .vuoto{
	width: 50px;
        padding-left: 130px;
}
#pagamento{
	float: right;
}