/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-set-2015, 0.01.59
    Author     : daniele
*/

div#carrello{
	width:100%;
	float:left;
        border:0px;
}
 
.elemento{
	float:left;
	height: 50px;
	width:100%;
        font-size: 20px;
        background-color: #FAEF87;
	border:#FF9933/**#DCDCDC/**/ 4px solid;
}

.elemento .foto{
	width:8%;
	height: 50px;
	float:left;
}

.elemento .nome{
	width: 52%;
	height: 50px;
	float:left;
}

.elemento .quantita{
	width: 10%;
	height: 50px;
	//background: pink;
	float:left;
}

.elemento .prezzo{
	width: 10%;
	height: 50px;
	//background: orange;
	float:left;
}

.elemento .subtotale{
	width: 15%;
	height: 50px;
	//background: blue;
	float:left;
}

.elemento .cancella{
	width: 5%;
	height: 50px;
	float:left;
        font-size: 15px;
}

.elemento .cancella_prodotto{
	width: 100%;
	height: 50px;
}
