
.prodotto
{
    float: left;
    width: 250px;
    //height: 350px;
    margin: 5px;
    border:3px solid orange;
    background-color: orange;
}

.prodotto:hover
{
    float: left;
    width: 250px;
    //height: 350px;
    margin: 5px;
    border:3px solid red;
    background-color: orange;
}

.dettaglio
{
    width: 250px;
    height: 100px;
    background-color: wheat;
}

.foto-space
{
    width: 250px;
    height: 250px;
    background-color: red;
}

.nome
{
    width:200px;
    float:left;
}

.prezzo
{
    width:200px;
    float:left;
}

.categoria
{
    width:200px;
    float:left;
}

#foto
{   
    width: 250px;
    max-height: 250px;
    vertical-align: middle;
}

#selezione
{
background-color: lightblue;
margin:-40px -40px 20px -40px;
height: 50px;
}

#barra-selezione
{
padding: 15px 10px 15px 10px;
}
