
.prodotto {
    float: left;
    width: 250px;
    height: 350px;
    margin: 5px;
    border:3px solid orange;
    background-color: orange;
}

.dettaglio {
    width: 250px;
    height: 100px;
    background-color: wheat;
}

.foto {
    width: 250px;
    height: 250px;
    background-color: red;
}

.nome {
    width:200px;
    float:left;
}

.prezzo {
    width:200px;
    float:left;
}

.categoria {
    width:200px;
    float:left;
}