@import url("reset.css");

body
{
	background: #111 url("../images/bg.png") repeat;
	color: #555;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 30px 0;
}

a { color: #faef87; text-decoration: none; }
a:hover { color: #222; text-decoration: none; }

#container
{
	margin: 0 auto;
	width: 1255px;
	background: #FFF;
	/** border: 10px solid #FFF; **/
	-moz-box-shadow: 0 0 10px #000; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000;
	border-radius: 10px 10px 10px 10px;
}

	#container #headercont
	{
		width: 1255px;
		height: 200px;
	}

		#container #headercont #headerlogo
		{
			float: left;
			width: 240px;
			height: 200px;
			padding: 0px 0px 0px 0px;
			background: #ffff45;
			border-radius: 10px 10px 10px 10px;
		}
		
	/*#container #headercont #headerlogo h1 a
			{
				color: #FFF;
				font-size: 33px;
				letter-spacing: -1px;
				text-decoration: none;
			} */
		
		#container #headercont #headergallery
		{
			float: left;
			width: 600px;
			height: 200px;
		}
		
			/*** Fading Gallery Styles **/
			
				#container #headercont #headergallery #slideshow
				{
					position: relative;
					width: 660px;
					height: 200px;
				}
				
				#container #headercont #headergallery #slideshow IMG
				{
					position:absolute;
					max-width: 1015px;
			        height: 200px;
					top:0;
					left:0;
					z-index:8;
					opacity:0.0;
				}
				
				#container #headercont #headergallery #slideshow IMG.active
				{
					z-index:10;
					opacity:1.0;
				}
				
				#container #headercont #headergallery #slideshow IMG.last-active
				{
					z-index:9;
				}
			
			/** End Fading Gallery Styles **/
	#container #maincont
	{
		width: 1255px;
		line-height: 22px;
		background: url("../images/bg-maincont.png") repeat-y;
	}
	
			#maincont p { margin: 0 0 15px 0; }
			#maincont h1, #maincont h2, #maincont h3, #maincont h4, #maincont h5 { margin: 0 0 10px 0; font-weight: normal; letter-spacing: -1px;  }
			#maincont h1 { font-size: 26px; }
			#maincont h2 { font-size: 24px; }
			#maincont h3 { font-size: 24px; }
			#maincont h4 { font-size: 22px; }
			#maincont h5 { font-size: 22px; }
			#maincont ul { margin: 0 0 15px 35px; list-style-type: square; }
			#maincont ul li { padding: 0 0 0 0px; }
			#maincont ol { margin: 0 0 15px 35px; list-style-type: decimal; }
			#maincont ol li { padding: 0 0 0 2px; }
			#maincont blockquote { background: #EEE; border-left: 3px solid #ffff45; padding: 15px; margin: 0 0 15px 0; font-style: italic; line-height: 18px; }

		#container #maincont #menucont
		{
			width: 1255px;
			height: 50px;
            
			background: #faef87;
		}
		
			#container #maincont #menucont ul
			{
				float: left;
				margin: 0 0 0 240px;
				cursor: pointer;
			}
			
			#container #maincont #menucont ul li
			{
				display: inline;
			}
			
			#container #maincont #menucont ul li a
			{
				float: left;
				padding: 0 20px;
				line-height: 50px;
				color: #000;
				font-weight: normal;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 11px;
				background: #faef87;
			}

			#container #maincont #menucont ul li a:hover
			{
				background: orange;
			}
			
				#container #maincont #menucont ul li a.active
				{
					background: #FFF;
					color: #333;
				}

		#container #maincont #mainleft
		{
			float: left;
			width: 200px;
			padding: 40px 20px;
			color: #5E7E1F;
			line-height: 18px;
		}
		
		/**	#maincont #mainleft ul.sidemenu
			{
				float: left;
				width: 200px;
				margin: 0 0 15px 0;
				list-style-type: none;
			}
			
			#maincont #mainleft ul.sidemenu li
			{
				display: block;
			}
			
			#maincont #mainleft ul.sidemenu li a
			{
				float: left;
				width: 180px;
				padding: 8px 10px;
				margin: 0 0 2px 0;
				background: #faef87;
				color: #000;
				font-weight: normal;
				text-decoration: none;
			}
			
			#maincont #mainleft ul.sidemenu li a:hover
			{
				color: #000;
				background: #ffff45;
			}

			**/
		
		#container #maincont #mainright
		{
			float: left;
			width: 935px;
			padding: 40px;
		}
		
	#footercont
	{
		margin: 0 auto;
		width: 860px;
		padding: 20px 20px 15px 20px;
		font-size: 11px;
		color: #666;
		text-align: center;
	}
	
		#footercont p
		{
			margin: 0 0 5px 0;
		}
	
		#footercont a
		{
			color: #FFF;
			text-decoration: none;
		}
		
		#footercont a:hover
		{
			color: #FFF;
			text-decoration: underline;
		}

#tab,#tab2,#tab3
{
border: solid;
padding: 2px;
}

#colonna
{
border: solid;
padding:3px 5px;
}

#logo
{
width: 240px;
height: 200px;
border-radius: 10px 10px 10px 10px;
}

#menuright
{
float: right;
}

#container #maincont #menucont #menuright ul
			{
				float: left;
				margin: 0 0 0 0px;
				cursor: pointer;
			}
			
			#container #maincont #menucont #menuright ul li
			{
			    display: inline;
			}
			
			#container #maincont #menucont #menuright ul li a
			{
				float: left;
				padding: 0 20px;
				line-height: 50px;
				color: #000;
				font-weight: normal;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 11px;
				background: #faef87;
			}

			#container #maincont #menucont #menuright ul li a:hover
			{
				background: orange;
			}
			
				#container #maincont #menucont #menuright ul li a.active
				{
					background: #FFF;
					color: #333;
				}

#formsearch
{
float: left;
margin-top: 5px;
}

#barracerca
{
width: 200px;
height: 30px;
}

#buttonsearch
{
float: right;
background-color: transparent;
border-width: 0 0 0 0;
}

#searchimg
{
width: 30px;
height: 30px;
}

#car
{
float: right;
}

#carrello
{
border-width: 0 0 0 3;
border-left: solid;
}

#cart
{
width: 40px;
height: 40px;
float: right;
}

.menu_scroll
{
position: fixed;
top:0px;
display:block;
z-index: 2;
}

.prodotto
{
float: left;
width: 250px;
height: 350px;
margin: 5px;
border:3px solid orange;
background-color: orange;
}

.descrizione
{
width: 250px;
height: 100px;
background-color: wheat;
}

.foto{
                width: 250px;
                height: 250px;
                background-color: red;
            }
            .nome{
                width:200px;
                float:left;
            }
            .prezzo{
                width:200px;
                float:left;
            }
            .categoria{
                width:200px;
                float:left;
            }
            .aggiungi{
                float:right;
            }

#login
{
width: 182px;
padding-left: 8px;
padding-right: 8px;
}

#login a
{
text-decoration: underline;
cursor: pointer;
}